
<div class="col-xs-8">
	<label>Выберете год конференции:
		<select id="conference-year" >
			<option>2017</option>
			<option>2018</option>
			<option>2019</option>
			<option>2020</option>
			<option>2021</option>
			<option>2022</option>
			<option>2023</option>
			<option>2024</option>
			<option>2025</option>
			<option>2026</option>
			<option>2027</option>
			<option>2028</option>
			<option>2029</option>
			<option>2030</option>
		</select>
	</label>

	<table id="application-table" class="display"> 
	  <caption>Application to conference OSTIS</caption>
	</table>
</div>